<div class="share" style="width: 100%;">

  <div style="margin: auto; text-align: center;">
    <% if (theme.wxQRcode) { %>
    <img src="<%=theme.wxQRcode%>" alt="Running Geek" style="margin: 0 20px; display: inline-block;" />
    <% } %>
    <% if (theme.aliQRcode) { %>
    <img src="<%=theme.aliQRcode%>" alt="Running Geek" style="margin: 0 20px; display: inline-block;" />
    <% } %>
  </div>
  
  <div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;">
    <% if ((theme.wxQRcode || theme.aliQRcode) && theme.shareMsg) { %>
      <%=theme.shareMsg%>
    <% }%>
  </div>
  
</div>
